.container{
    position: relative;
    margin-left: 1rem;
}

.contact-btn, .shadow {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    background-color: #CD3C2C;
    color: whitesmoke;
    width: 11rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    z-index: 2; 
    transition: 300ms;
}

.shadow {
    background-color: #E4967B;
}

.contact-btn:hover{
    position: absolute; 
    top: -0.75rem;
    left: -0.75rem;
}

